.pets-page{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#F8F0FF;

}

.pets-card{

background:white;
padding:30px;
border-radius:20px;
width:800px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.pet-input{

width:80%;
padding:12px;
margin:20px;
border-radius:10px;
border:2px solid #C39BD3;

}

.pet-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;

}

.pet-box{

background:#F4ECF7;
padding:20px;
border-radius:15px;
cursor:pointer;
transition:.3s;

}

.pet-box:hover{

transform:scale(1.05);

}

.pet-box img{

width:140px;
height:140px;
object-fit:contain;

}

.back-btn{

display:inline-block;
margin-top:25px;
padding:12px 20px;
background:#8E44AD;
color:white;
text-decoration:none;
border-radius:10px;

}
